<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <form>
    <input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
    <input type="radio" name="fancy" value="hearts" id="hearts" />
    <input type="radio" name="fancy" value="spades" id="spades" />
    <input type="radio" name="fancy" value="diamonds" id="diamonds" />			
    <label for="clubs">&#9827; Трефы</label><label for="hearts">&#9829; Червы</label><label for="spades">&#9824; Пики</label><label for="diamonds">&#9830; Бубны</label>
    <div class="keys">Используйте левую и правую клавиши для навигации</div>
</form>
</body>
</html>