<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <ul>
    <li><a href="#">Men</a><img class="image" src="img/men.jpg"></li>
    <li><a href="#">Women</a><img class="image" src="img/women.jpg"></li>
    <li><a href="#">Kids</a><img class="image" src="img/kids.jpg"></li>
    <li><a href="#">Mobiles</a><img class="image" src="img/mobile.jpg"></li>
    <li><a href="#">Watch</a><img class="image" src="img/watch.jpg"></li>
  </ul>
  <script src="script.js"></script>
</body>
</html>