<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <ul>
    <li>
      <input type="checkbox" />
      <div>W</div>
    </li>
    <li>
      <input type="checkbox" />
      <div>E</div>
    </li>
    <li>
      <input type="checkbox" />
      <div>B</div>
    </li>
  </ul>
  <ul>
    <li>
      <input type="checkbox" />
      <div>B</div>
    </li>
    <li>
      <input type="checkbox" />
      <div>E</div>
    </li>
    <li>
      <input type="checkbox" />
      <div>K</div>
    </li>
    <li>
      <input type="checkbox" />
      <div>S</div>
    </li>
  </ul>
</body>
</html>