*{
  margin: 0;
  padding: 0;
}
:root{
  --_g: radial-gradient(circle closest-side at calc(100% - 50px / 2) 50%, #000 96%, #0000);
  --_i: 1;
}
body{
  background: #15202a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  height: calc(50px + 50px / 5);
  width: auto;
  aspect-ratio: 2.25;
  border-radius: 50px;
  margin: calc(30px / 2);
  display: grid;
  cursor: pointer;
  background-color: #ff7a7a;
  transition: 0.3s 0.1s;
  appearance: none;
}
input:before{
  content: '';
  padding: calc(50px / 10);
  background: var(--_g) 0 /var(--_p, 50px) 100% no-repeat content-box,
              var(--_g) var(--_p, 0) / 50px 100% no-repeat content-box, #fff;
  mix-blend-mode: darken;
  filter: blur(calc(50px / 12)) contrast(11);
  transition: 0.4s, background-position 0.4s 0.1s,
    padding cubic-bezier(0, calc(var(--_i, -1) * 200), 1, calc(var(--_i, -1) * 200)) 0.25s 0.1s;
}
input:checked{
  background-color: #85ff7a;
}
input:checked:before{
  padding: calc(50px / 10 + 0.05px) calc(50px / 10);
  --_p: 100%;
}