<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class='container'>
    <button class='one'>Play some <b>amazing</b> games</button>
    <button class='two'>Continue shopping <b>now</b></button>
    <button class='three'>  Follow me on <b>Codepen</b></button>
    <button class='four'>Change some <b>settings</b></button>
    <button class='five'>Do something <b>fun</b> today</button>
  </div>
  <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
</body>
</html>