<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WEB BEKS</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="wrapper">
		<div class="container" id="c0">
			<div class="image" id="i0">	
				<div class="city">
					<img src="https://i.pinimg.com/originals/4e/49/11/4e491163acc25d4459c777427ea13559.gif" alt="">
				</div>
			</div>
			<div class="story" id="s0">
				<div class="info">
				<h3>Light</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima neque ducimus ullam libero dolor repudiandae aspernatur sint cupiditate accusantium quisquam!</p>
				</div>
			</div>
		</div>
		<div class="container" id="c1">
			<div class="image" id="i1">
				<div class="city">
					<img src="https://i.pinimg.com/originals/5f/29/b8/5f29b85204ac54ecff7d1775b44f6a4d.png" alt="">
				</div>
			</div>
			<div class="story" id="s1">
				<div class="info">
					<h3>Night</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto perferendis laborum eveniet totam animi necessitatibus culpa ipsum quaerat voluptates harum.</p>
				</div>
			</div>
		</div>
		<div class="container" id="c2">
			<div class="image" id="i2">
				<div class="city">
					<img src="https://i.pinimg.com/originals/5f/29/b8/5f29b85204ac54ecff7d1775b44f6a4d.png" alt="">
				</div>
			</div>
			<div class="story" id="s2">
				<div class="info">
				<h3>Night</h3>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias aspernatur explicabo labore quo corporis natus, voluptatum eaque suscipit blanditiis similique.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>