* {
  padding: 0;
  margin: 0;
}


.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
  padding: 2em;
  border-radius: 8px;
}


.photo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.image-container {
  position: relative;
  /* max-width: 100%;
  max-height: 500px; */
}

#color-canvas {
  width: 100%;
  height: 100%;
}


img {
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}


.controls-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px
}

.btns-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 1.5em;
}

input[type="file"] {
  display: none;
}

label,
button {
  width: 100%;
  font-size: 0.8em;
  background-color: black;
  color: #ffffff;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

label:hover,
button:hover {
  background-color: white;
  color: black;
  border: 2px solid blue;
}


#result {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1.5em;
}

#result div {
  display: flex;
  align-items: center;
  gap: 1em;
}

#result input {
  background-color: transparent;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
  color: #313b4c;
  border: 1px solid #021637;
  border-radius: 4px;
}

#result button {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

#picked-color-ref {
  height: 100px;
  border: 4px solid #d9e8ff;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 1em;
}


#custom-alert {
  display: none;
  background-color: #d9e8ff;
  color: #025bee;
  text-align: center;
  padding: 0.5em;
  margin-top: 1.5em;
  border-radius: 4px;
}

span{
  color: blue;
}

#error {
  color: #ff725a;
  text-align: center;
  margin-top: 1em;
}



#palette-container {
  display: flex;
  flex-direction: row;
}

.palette-color {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
}
