<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>WEB BEKS</title>
	<link href="style.css" rel="stylesheet" />
</head>
<body>
	<nav class="slide">
		<input type="radio" name="slideItem" id="item-1" class="toggle" checked/>
		<label for="item-1"><p class="icon">♬</p><span>Home</span></label>	
		<input type="radio" name="slideItem" id="item-2" class="toggle"/>
		<label for="item-2"><p class="icon">★</p><span>About</span></label>	
		<input type="radio" name="slideItem" id="item-3" class="toggle"/>
		<label for="item-3"><p class="icon">✈</p><span>Folio</span></label>
		<input type="radio" name="slideItem" id="item-4" class="toggle"/>
		<label for="item-4"><p class="icon">✎</p><span>Blog</span></label>
		<div class="clear"></div>
		<div class="slider">
		  <div class="bar"></div>
		</div>
	  </nav>
</body>
</html>