<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Gradient</title>
</head>
<style>
    body {
        background: linear-gradient(90deg, #2cd9ff, #7effb2);
        background-size: 400% 400%;
        animation: moving 2.5s infinite ease-in-out;
    }

    @keyframes moving {
        0% {
            background-position: 0 50%; /* 0 pozicioni horizontal dhe 50 pozicioni vertikal */
        } 
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
</style>
<body>
    <div class="background"></div>
</body>
</html>



