<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <section>
    <i id="reset" class="fas fa-undo"></i>
    <span class="progress"></span>
      <div class="wrap">
        <div class="card">
          <div class="carDone"><i class="fas fa-check"></i></div>
          <h2>Hold <span>Start</span> to continue</h2>
          <p>We count on you to get it right 😍</p>
          <div class="buttonWrap">
            <button><i class="fas fa-power-off"></i></button>
            <div class="circleffect"></div>
          </div>
        </div>
      </div>
    </section>

  <script src="script.js"></script>
</body>
</html>