*{
  margin: 0;
  padding: 0;
}
body{
  background: #e0e0e0;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blob{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 58% 43% 33% 64% / 50% 38% 53% 50%;
  background: transparent;
  box-shadow: inset 6px 33px 20px 0 #c9c9c9, inset 20px 80px 15px 0 #e0e0e0, 10px 20px 20px 0px #c9c9c9;
  animation: animate 10s linear infinite;
}
i{
  font-size: 2.5em;
  filter: blur(0.3px);
}
.blob::before{
  content: '';
  position: absolute;
  border-radius: 37% 54% 46% 46%;
  background: white;
  width: 50px;
  transform: rotate(-30deg);
  height: 15px;
  top: 20px;
  left: 20px;
}
.blob::after{
  content: '';
  position: absolute;
  border-radius: 50%;
  background: white;
  width: 10px;
  height: 10px;
  top: 60px;
  left: 20px;
}
@keyframes animate{
  0%
  {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
  30%
  {
    border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
  }
  50%
  {
    border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
  }
  60%
  {
    border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%;
  }
  80%
  {
    border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%;
  }
  100%
  {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
}