<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <ul>
    <li>
      <a class="facebook" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class="twitter" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class="instagram" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class="google" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
</body>
</html>