<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="card">
    <div class="imgBox">
      <img src="https://www.jetaccess.ru/upload/resizer2/8/89e/89ebfcec7902ccb08110c9592903ced0.png" class="mouse">
    </div>
    <div class="contentBox">
      <h3>JETACCESS OM-U64G</h3>
      <h2 class="price">45.<small>99</small> €</h2>
      <a href="#" class="buy">Buy Now</a>
    </div>
  </div>
</body>
</html>
      