
   body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #2cd9ff, #7effb2, #ffbb7e, #ff7ebd, #cd7eff, #7e9eff);
    background-size: 600% 600%; /* Adjust size based on the number of colors */
    animation: moving 9.5s infinite ease-in-out;
  }
  
   @keyframes moving {
    0% {
      background-position: 0 50%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 0 50%;
    }
    100% {
      background-position: 0 50%;
    }
  } 
  

  
  .container {
    position: relative;
  }
  
  .outer-box {
    position: relative;
    border: 2px dashed black;
    width: 250px;
    height: 250px;
    margin: 20px auto; 
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    border: 1px solid #000;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
     
  .controls {  
    display: grid;
    grid-template-columns: 30% 30% 40%;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  }
  
  .group-1, .group-2, .group-3 {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .group-3 {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
  }
  
  
input[type=color] {
 
  box-sizing: border-box;
  cursor: pointer;
  width: 32px;
  padding: 0;
}

input[type=text] {
  color: #001f3f;
  padding: 0 5px;
  font-size: 15px;
  font-weight: 700;
  width: 85px;
  display: inline-block;
}

input[type=color], input[type=text] {
  border: 3px solid #001f3f;
  border: 3px solid var(black);
  height: 32px;
}

#codeOutput {
  position: relative;
  width: 400px;
  margin-top: 20px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.border-btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .border-btn.active {
  background-color: black;
  color: #fff;
  }