body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure the body takes full viewport height */
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #2cd9ff, #7effb2, #ffbb7e, #ff7ebd, #cd7eff, #7e9eff);
  background-size: 600% 600%;
  animation: moving 9.5s infinite ease-in-out;
}


@keyframes moving {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  height: 260px;
  border: 1px solid #000;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.controls {  
  display: grid;
  grid-template-columns: 30% 30% 40%;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
}

.group-1, .group-2, .group-3 {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.group-3 {
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
}

#codeOutput {
  width: 300px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
