<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Image hover</title>
</head>
<body>
    <div>
        <a target="_blank" class="blog" href="https://normalcoding.com">
            Read my blog
        </a>
    </div>
    <div class="gallery">
        <img src="https://picsum.photos/id/174/400/400" alt="a hot air balloon">
        <img src="https://picsum.photos/id/188/400/400" alt="a sky photo of an old city">
        <img src="https://picsum.photos/id/221/400/400" alt="a small boat">
        <img src="https://picsum.photos/id/288/400/400" alt="a forest">
    </div>
</body>
</html>