<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>>
</head>
<body>
<div class="ag-format-container">
    <div class="ag-create_box">
      <a href="#" class="js-create_video ag-create_item">
        <video muted="" playsinline="">
          <source src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/item-svg-video/video/statue-xpa-full.mp4" type="video/mp4">
          <source src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/item-svg-video/video/statue-xpa-full.webm" type="video/webm">
        </video>

        <svg viewBox="0 0 411 431" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
          <polygon class="cls-1" points="0.5 430.5 340.31 430.5 410.5 361.03 410.5 0.5 0.5 0.5 0.5 430.5"></polygon>
          <polygon class="cls-2" points="355.17 430.5 410.33 375.33 410.33 430.5 355.17 430.5"></polygon>
          <polygon class="cls-3" points="355.17 430.5 410.33 375.33 410.33 430.5 355.17 430.5"></polygon>
          <line class="cls-4" x1="395" x2="395" y1="410" y2="419"></line>
          <line class="cls-4" x1="399.5" x2="390.5" y1="414.5" y2="414.5"></line>
        </svg>

        <div class="ag-create_title-item">Branding<br>&amp; Identity</div>
      </a>

      <a href="#" class="js-create_video ag-create_item">
        <video muted="" playsinline="">
          <source src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/item-svg-video/video/dollar-xpa-r.mp4" type="video/mp4">
          <source src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/item-svg-video/video/dollar-xpa-r.webm" type="video/webm">
        </video>

        <svg viewBox="0 0 411 431" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
          <polygon class="cls-1" points="0.5 430.5 340.31 430.5 410.5 361.03 410.5 0.5 0.5 0.5 0.5 430.5"></polygon>
          <polygon class="cls-2" points="355.17 430.5 410.33 375.33 410.33 430.5 355.17 430.5"></polygon>
          <polygon class="cls-3" points="355.17 430.5 410.33 375.33 410.33 430.5 355.17 430.5"></polygon>
          <line class="cls-4" x1="395" x2="395" y1="410" y2="419"></line>
          <line class="cls-4" x1="399.5" x2="390.5" y1="414.5" y2="414.5"></line>
        </svg>

        <div class="ag-create_title-item">Promo<br>Materials</div>
      </a>

      <a href="#" class="js-create_video ag-create_item">
        <video muted="" playsinline="">
          <source src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/item-svg-video/video/mac-xpa-r.mp4" type="video/mp4">
          <source src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/item-svg-video/video/mac-xpa-r.webm" type="video/webm">
        </video>

        <svg viewBox="0 0 411 431" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
          <polygon class="cls-1" points="0.5 430.5 340.31 430.5 410.5 361.03 410.5 0.5 0.5 0.5 0.5 430.5"></polygon>
          <polygon class="cls-2" points="355.17 430.5 410.33 375.33 410.33 430.5 355.17 430.5"></polygon>
          <polygon class="cls-3" points="355.17 430.5 410.33 375.33 410.33 430.5 355.17 430.5"></polygon>
          <line class="cls-4" x1="395" x2="395" y1="410" y2="419"></line>
          <line class="cls-4" x1="399.5" x2="390.5" y1="414.5" y2="414.5"></line>
        </svg>

        <div class="ag-create_title-item">Web<br>Development</div>
      </a>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>