<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <div class="content">
    <input type="checkbox" id="btn">
    <label for="btn">
      <span class="track"></span>
      <span class="thumb">
        <span class="eye"></span>
      </span>
    </label>
  </div>
</body>
</html>